extends layout

block content
  .duyi-content
    section#duyi-carousel.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li(data-slide-to="0" data-traget="#duyi-carousel" class="active")
        li(data-slide-to="1")
        li(data-slide-to="2")
      .carousel-inner
        .item.active
          .duyi-carousel-img
            img(src="http://cdn.alloyteam.com/assets/img/banner_ac2017-47729f.jpg")
        .item
          .duyi-carousel-img
            img(src="http://cdn.alloyteam.com/assets/img/banner_ac2017-47729f.jpg")
        .item
          .duyi-carousel-img
            img(src="http://cdn.alloyteam.com/assets/img/banner_ac2017-47729f.jpg")
      a.carousel-control.duyi-carousel-left(href="#duyi-carousel" data-slide="prev")
      a.carousel-control.duyi-carousel-right(href="#duyi-carousel" data-slide="next")
    
    section.duyi-student-show
      .duyi-student-title.container
        p 前端框架、开源项目
        p 热门技术       
        span
      .duyi-student-photo.tt-grid-wrapper
        ul.tt-grid.tt-effect-frontrow.tt-effect-delay
          each student, index in studentInfo
            li(class={'duyi-student-photo-img-left': index % 4 === 0})
              a.duyi-student-photo-img(href=`${student.imgUrl}`, data-info=`${JSON.stringify(student.info)}`)
                img.duyi-student-photo-image(src=`${student.imgUrl}`)
        nav
          span
            i.tt-current
          span
            i
          span
            i
    section.duyi-tencent
      .container.duyi-dom-translate
        .row
          .duyi-tencent-certification.col-md-6
            .duyi-tencent-title
              p.duyi-tencent-w AAAA
                span BBBB
              p.duyi-tencent-au
                span AUTHENTICATION
            .duyi-tencent-detail
              p 
              p 
          .duyi-tencent-photo.col-md-6
            img(src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524863367804&di=59d9e83ef9087e4698451591a19e8e88&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01ef47593fc43da8012193a34c0e66.jpg")
    
    section.duyi-teacher
      .duyi-teacher-title.container.duyi-dom-translate
        p NBA
        p Cavaliers
        span
      each teacher in teacherInfo
        .duyi-teacher-detail.duyi-dom-translate
          each item in teacher
            .duyi-teacher-wrapper
              .duyi-teacher-box
                .duyi-teacher-photo
                  span.duyi-teacher-border
                  img.duyi-teacher-img(src=`${item.imgUrl}`)
                .duyi-teacher-info
                  p #{item.name}
                    span #{item.job}
                  p #{item.detail}
               
    section.duyi-cooperation
      .duyi-cooperation-title.container.duyi-dom-translate
        p 优秀互联网公司
        p Company
        span
      .duyi-cooperation-detail.duyi-dom-translate
        each cooperation, index in cooperationInfo
          if index % 4 === 0
            .duyi-cooperation-detail-row
              each count in [0, 1, 2, 3]
                .duyi-cooperation-detail-img
                  img(src=`${cooperationInfo[index+count].lightImg}`).duyi-cooperation-img-light                
                  img(src=`${cooperationInfo[index+count].darkImg}`).duyi-cooperation-img-dark