extend layout

block content
	.duyi-content
		section.duyi-study-poster
			.duyi-study-poster-title.container
				p Photo
				p LOL、绝地求生
				span
		section.duyi-study-curriculum
			.duyi-study-curriculum-web
				.duyi-study-curriculum-web-title.duyi-study-curriculum-title
					p 绝地求生经典战斗
					div
						img(src="http://p6alxlphh.bkt.clouddn.com/hand.png")
					p PLAYERUNKNOWN'S BATTLEGROUNDS
				.duyi-study-curriculum-web-content
					.duyi-study-curriculum-web-scroll-wrapper
						each lesson in lessons
							.duyi-study-curriculum-web-scroll-item
								.duyi-study-curriculum-web-scroll-img
									img(src=`${lesson.img}`)
								.duyi-study-curriculum-web-scroll-info
									p #{lesson.title}
									div
										span #{lesson.teacher}
										span 日期 #{lesson.per}
			.duyi-study-curriculum-java.duyi-dom-translate
				p UPDATING
				P NBA2K18
				p 敬请期待
								

		section.duyi-study-exercises
			.duyi-study-exercises-title.container.duyi-dom-translate
				p 英雄联盟5杀
				div
					img(src="http://p6alxlphh.bkt.clouddn.com/hand.png")
				p LOL
			.duyi-study-exercises-content.duyi-dom-translate
				.duyi-study-exercises-scroll-wrapper
					each item in exercises
						.duyi-study-exercises-scroll-item
							.duyi-study-exercises-scroll-img
								img(src=`${item.img}`)
							.duyi-study-exercises-scroll-info
								p #{item.title}
								div.duyi-study-exercises-describe
									span #{item.describe}
								div.duyi-study-exercises-star
									each star in item.star
										if star == 0
											span(style=`background:url(http://p6alxlphh.bkt.clouddn.com/dark-star.png) no-repeat`)
										else if star == 1
											span(style=`background:url(http://p6alxlphh.bkt.clouddn.com/half-star.png) no-repeat`)
										else
											span(style=`background:url(http://p6alxlphh.bkt.clouddn.com/star.png) no-repeat`)
		section.duyi-study-consult
			.duyi-study-consult-title.container.duyi-dom-translate
				p 联系我
				p CONTACT ME
				span
			.duyi-study-consult-way-row.duyi-dom-translate
				.duyi-study-consult-way-item.duyi-study-consult-way-wechat
					.duyi-study-consult-way-item-wrapper
						.duyi-study-consult-way-wechat-photo
						.duyi-study-consult-way-wechat-qrcode
					p WeChat
				.duyi-study-consult-way-item.duyi-study-consult-way-phone
					.duyi-study-consult-way-item-wrapper
						.duyi-study-consult-way-phone-photo
						.duyi-study-consult-way-phone-number
							p +86 13206682870
							p +86 13021370337
					p Phone
				.duyi-study-consult-way-item.duyi-study-consult-way-online
					.duyi-study-consult-way-item-wrapper
						.duyi-study-consult-way-online-photo
						a(href="http://wpa.qq.com/msgrd?v=3&uin=1101544275&site=qq&menu=yes").duyi-study-consult-way-online-a 联系我
					p QQ